# General

Makefile*
build/
src-build/
obj/
libs/
lib/
bin/
*.autosave
gen/
Win32/
Debug/
Release/
Output/
release/
debug/
objects/
Objects/
Deploy/
ipch/
.metadata/
install/
*.so*

GeneratedFiles/
.metadata/
object_script.*

local.properties
.DS_Store

# File extensions

*.deps
*.dta
*.ell
*-core
!recipes-core
*.log.*
*.exe
*.lib
*.ilk
*.dll
*.exp
*.pdb
*.dta
*.log
*.ncb
*.user
*.suo
*.atsuo
*.aps
*.obj
*.msi
*.pch
*.ini
*.srf
*.srx
*.epf
*~
*.a
*.o
*.axf
*.bin
*.map
*.sdf
*.opensdf
*.dat

# Eagle CAD

*.b#*
*.s#*
*.l#*
Gerber/

# Qt

.qmake.cache
.qmake.stash
build-*/
*.pro.user
*.txt.user

# Python

*.pyc
.idea/
.project
.pydevproject

# SyntroNet

libSyntro*

# ROS

msg_gen/
srv_gen/
cmake/
devel/

# Maven

target/

# Gitignore

!.gitignore


